@model StudentService.Models.CourseRetrive
@{
    ViewBag.Title = "Index";
}

<br /><br/>
      <div class="container">
          <div class="form-group">
              
                  @Html.DropDownListFor(Model => Model.DepartmentCode, ViewBag.Departmentlist as SelectList, "Select Department", new { @class = "form-control" })
           

          </div>

          <div class="form-group">
             

                  @Html.DropDownListFor(Model => Model.CourseCode, new SelectList(""), "Select Course", new { @class = "form-control" })
              

          </div>

      </div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#DepartmentCode").change(function () {
            $.get("/StdCourse/GetCourse", { DepartmentCode: $("#DepartmentCode").val() }, function (data) {
                $("#CourseCode").empty();

                $.each(data, function (index, row) {
                    $("#CourseCode").append("<option valus='" + row.CourseCode + "'>" + row.CourseTitle + "</option>")

                });
            });


        })
    });


</script>